/* CONTENTS
- SITEWIDE
- HEADER
- FOOTER
- INDEX
*/

/* SITEWIDE ----------------------------------------------------------- */
:root {
  --buildforall-color-light-blue: #1B5A75; /* on #FFFFFF = WCAG AAA */
  --buildforall-color-dark-blue: #003459; /* on #FFFFFF = WCAG AAA */
  --buildforall-color-purple: #5F0F40; /* on #FFFFFF = WCAG AAA */
  --buildforall-color-red: #9A031E; /* on #FFFFFF = WCAG AAA */

  --text-color-black: #2B2E40; /* on #FFFFFF = WCAG AAA */
  --text-color-grey: #535565; /* on #FFFFFF = WCAG AAA */
  --box-color-light-grey: #C0C1C0; /* with #2B2E40 = WCAG AAA */
  --box-color-dark-grey: #454645; /* on #FFFFFF = WCAG AAA */
  --border-color-light-grey: #E6E6E6; /* with #2B2E40 = WCAG AAA */
  --background-color-light-grey: #F8F9F8; /* with #2B2E40 = WCAG AAA */
  --background-color-lighter-grey: #FAFAFA; /* with #535565 = WCAG AAA */
  --background-color-dark-blue: #202231; /* on #FFFFFF = WCAG AAA */
  --white: #FFFFFF; /* with #2B2E40 = WCAG AAA */
  --debugging-grey: #CCCCCC; /* ALL FAIL */
}

body {
  font-family: 'Verdana', sans-serif;
  padding: 72px 0px 0px 0px;
}

h1 {
  font-size: 2em;
}

hr {
  margin: 50px auto;
  width: 90%;
  background-color: var(--border-color-light-grey);
}

.contain-to-1000 {
  max-width: 1000px;
}

.background-white {
  background-color: var(--white);
}

.background-light-grey {
  background-color: var(--background-color-light-grey);
}

.background-lighter-grey {
  background-color: var(--background-color-lighter-grey);
}

.background-light-blue {
  background-color: var(--buildforall-color-light-blue);
}

.background-dark-blue {
  background-color: var(--buildforall-color-dark-blue);
}

.background-purple {
  background-color: var(--buildforall-color-purple);
}

.color-white {
  color: var(--white);
}

.color-black {
  color: var(--text-color-black);
}

.color-grey {
  color: var(--text-color-grey);
}

.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.margin-auto {
  margin: 0 auto;
}

.test-border {
  border: 1px solid red;
}

/* HEADER ----------------------------------------------------------- */
nav a {
  color: var(--text-color-grey);
}

nav a:hover {
  color: var(--text-color-black);
}

.navbar-brand:hover {
  color: var(--text-color-black) !important;
}

.active {
  color: var(--text-color-black) !important;
}


/* FOOTER ----------------------------------------------------------- */
.footer-section-1 button {
  padding: 15px 30px;
  color: var(--white);
  font-weight: bold;
  background-color: var(--buildforall-color-light-blue);
}

.footer-section-1 button:hover {
  background-color: var(--text-color-black);
}

.footer-section-2-lists {
  max-width: 500px;
  margin-left: auto;
  margin-right: 0;
  text-align: left;
}

.footer-section-2 ul {
  list-style-type: none;
  padding: 0px;
}

.footer-section-2 a {
  text-decoration: none;
  color: var(--text-color-grey);
}

.footer-section-2 a:hover {
  color: var(--text-color-black);
}

@media only screen and (max-width: 575px) {
  .footer-section-2-lists {
    margin: 0 auto;
    text-align: center;
  }
}

.footer-section-3 {
  padding-top: 20px;
  padding-bottom: 5px;
}

.footer-section-3 .row .col-sm-6 {
  text-align: right;
}

.footer-section-3 a {
  text-decoration: none;
  color: var(--text-color-grey);
}

.footer-section-3 a:hover {
  color: var(--text-color-black);
}

@media only screen and (max-width: 575px) {
  .footer-section-3 .row {
    text-align: center;
  }

  .footer-section-3 .row .col-sm-6 {
    text-align: center;
  }
}


/* INDEX ----------------------------------------------------------- */
.index-section-1 h1 {
  padding: 50px 0px 25px 0px;
}

.index-section-1 ul {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 25px;
}

.index-section-1 li {
  font-size: 1.5em;
  width: 50%;
  min-width: 175px;
  margin: 10px auto 10px auto;
  padding: 10px 0px 10px 20px;
  cursor: pointer;
}

.index-section-1 li:hover {
  background-color: var(--text-color-black);
}

#index-section-2-img {
  min-height: 200px;
}

.index-section-2 h1 {
  padding: 50px 0px 50px 0px;
}

.index-section-2 p {
  cursor: pointer;
}

.index-section-2 img {
  width: 50%;
  text-align: right;
}

.index-section-2-author {
  line-height: 0.5em;
  font-size: 0.8em;
  padding: 6px 0px 0px 0px;
}

.index-section-3 h1 {
  padding: 0px 0px 50px 0px;
}

.index-section-3 img {
  width: 50%;
  padding: 10px 0px 10px 0px;
}

.index-section-3 .row {
  margin: 50px 0px 0px 0px;
}

#index-section-3-top-left {
  border-right: 1px solid var(--box-color-light-grey);
}

#index-section-3-top-middle {
  border-right: 1px solid var(--box-color-light-grey);
}

@media only screen and (max-width: 575px) {
  #index-section-3-top-left {
    border: none;
  }

  #index-section-3-top-middle {
    border: none;
  }
}


/* ABOUT ----------------------------------------------------------- */
.about-section-1 {
  text-align: center;
}

.about-section-1 h1 {
  padding: 50px 0px 25px 0px;
}

.about-section-1 p {
  max-width: 600px;
  margin: 0 auto;
  color: var(--text-color-grey);
}

#about-section-1-img {
  margin-top: 25px;
  width: 100%;
  height: 300px;
  background-color: var(--buildforall-color-light-blue);
}

.about-section-2 h1 {
  padding: 50px 0px 25px 0px;
}

.about-section-2 .col-sm-4 {
  margin: 0 auto;
  max-width: 250px;
}

.about-section-2-lg {
  font-size: 2.5em;
}

.about-section-3 h1 {
  padding: 0px 0px 25px 0px;
}

#about-section-3-img {
  width: 100%;
  height: 275px;
  background-color: var(--buildforall-color-light-blue);
}

.about-section-4 {
  text-align: center;
}

.about-section-4 h1 {
  padding: 0px 0px 25px 0px;
}

.about-section-4 .row {
  max-width: 600px;
  margin: 0 auto;
}

.about-section-4 img {
  width: 75%;
  margin-bottom: 25px;
}
